/* || General Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    width: 100%;
    margin-bottom: 30px;
}


/* || Header and Main Navigation */
.nav-container {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.nav-container img {
    max-width: 50%;
    height: auto;
}

.nav-container > nav {
    width: 100%;
}

.nav-items {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    list-style: none;
}

.nav-login {
    text-align: center;
    margin: 15px auto;
}

#submit {
    margin-top: 10px;
}

/* || Page */

.nav-margin {
    margin-top: 230px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.flex-container > figure {
    width: 33%;
    height: auto;
}

.systems-image {
    width: 100%;
    height: auto;
}

.video-container {
    display: flex;
    margin: 30px 20px;
    flex-wrap: wrap;
    text-align: center;
}